<div class="tabs">
  <ul>
    <li<TMPL_IF NAME=TAB_CONFIG> class="yah"</TMPL_IF>><a href="?__mode=config"><TMPL_VAR NAME=TAB_TITLE_CONFIG></a></li>
    <li<TMPL_IF NAME=TAB_ABOUT> class="yah"</TMPL_IF>><a href="?__mode=about"><TMPL_VAR NAME=TAB_TITLE_ABOUT></a></li>
  </ul>
<!--tabs--></div>